:root {
    --primary:#148812;
    --white:#fff;
    --black:#000;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

#point-map {
    position:absolute;
    pointer-events: none;
    z-index: 1;
}

canvas {
    position:absolute;
    pointer-events:none;
}

#reset-view {
    position: absolute;
    z-index: 2;
    top: 18%;
    right: 0%;
    background-color: white;
    padding: 0.4em 0.8em;
    border-radius: 4px;
    cursor: pointer;
}

/* map styling */
#map {
    position:absolute; 
    width:1368px; 
    height: 850px;
    /* width: 1200px; */
    /* background-color: black; */
}

.mapboxgl-interactive {
    height:850px;
}

.mapboxgl-popup {
    z-index: 2;
}

.mapboxgl-popup-content {
    padding:0 !important;
    font-size: 1rem;
}

.popup-content .popup-title {
    background-color: #ddd;
    padding: 3px 10px 3px 4px;
}

.popup-content .description {
    padding: 10px 10px 15px;
    font-size:14px;
}

.div-marker {
    z-index: 2;
    cursor: pointer;
}

/* particle system container */
#renderer-container {
    height: 850px;
    width: 1368px;
    background-color: transparent;
}

/* origin destination filer */
.filter-panel {
    position: absolute;
    top:15%;
    left: 1%;
    height: auto;
    padding:0.5rem 0.25rem;
    background-color: transparent;
    z-index: 2;
    box-shadow: 2px 2px 0.3em rgb(88, 88, 88);
}

.filter-panel select {
    border-radius: 2px;
    border: 1px solid #ddd;
    padding:0.3em 0.5em;
}

.country-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.76);
    padding:0.5rem 0.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 0.7em;
}

#suggestions {
    position: absolute;
    top: 16%;
    left: 2%;
    right: 2%;
    box-shadow: 2px 2px 0.5em black;
}

#suggestions .list-group-item:hover {
    background-color:blue;
    color:white;
}

.year-filter {
    position: absolute;
    top: 2%;
    right: 4%;
    background-color: var(--white);
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.attribute-filter {
    background-color: var(--white);
    height: auto;
    padding:0.5rem 0.25rem;
}

/* slider container */
.slider-panel {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: auto;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    padding: 0.375rem 0.5rem;
}

.animate-slider {
    color:var(--black);
    font-size: 2em;
    margin-right: 1em;
}

/* svg styling */
.hidden, .d-none {
    display: none !important;
}